/* Podometer.styles.css */
.ark-podometer {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.ark-podometer__body {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ark-podometer__svg {
    width: 100%;
    height: auto;
    overflow: visible;
}

.ark-podometer__content {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ark-podometer__value {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
}

.ark-podometer__units {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--text-secondary);
    margin-left: 0.125rem;
}

.ark-podometer__label {
    font-size: 0.75rem;
    color: var(--text-secondary);
    margin-top: 0.25rem;
}