/* ConcentricBackground Styles */

.concentric-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.concentric-background__svg {
    width: 100%;
    height: 100%;
}

.concentric-background__circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 0.8;
}

.concentric-background__particle {
    fill: currentColor;
}
